body {
 background-color: darkcyan;
}

.f1 {
    text-align: center;

}

h3 {
    float: left;
    font-size: 35px;
    margin-left: 28%;
    text-decoration: underline;
}
span {
    text-decoration: underline;
}

iframe {
    position: absolute;
    left: 35%;
    border-radius: 25px;
}
.TV{
    left: 20%;
}